image:
  repository: maxrocketinternet/k8s-event-logger
  tag: "1.6"
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 10m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi

env:
  KUBERNETES_API_URL: https://172.20.0.1:443
  CA_FILE: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt

securityContext: {}
podSecurityContext:
  readOnlyRootFilesystem: true
  runAsNonRoot: true

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
nodeSelector: {}
tolerations: []
affinity: {}
podLabels: {}
