# nameOverride -- Override the name of resources
nameOverride: ""
# fullnameOverride -- Override the full name of resources
fullnameOverride: ""

# CronJobs -- A list CronJobs to create
CronJobs: []
  # - name: example-cronjob
  #   extraLabels:
  #     app: my-app
  #   schedule: 00 19 * * *
  #   containers:
  #     - name: my-container
  #       image: ubuntu:bionic
  #       args:
  #         - "sh"
  #         - "-c"
  #         - "'echo yes'"

# ConfigMaps -- A list ConfigMap to create
ConfigMaps: []
  # - name: example-cm
  #   fullnameOverride: ""
  #   annotations: {}
  #   extraLabels: {}
  #   kv_data:
  #     key: value
  #   multiline_data:
  #     key: |
  #       line 1
  #       line 2

# CustomResources -- A list resources to create that are completely custom
CustomResources: []
  # - name: example-custom
  #   fullnameOverride: ""
  #   annotations: {}
  #   extraLabels: {}
  #   apiVersion: postgresql.org/v1
  #   kind: PostgresDatabase
  #   spec: {}

# Ingresses -- A list Ingress to create
Ingresses: []
  # - name: example-ingress
  #   fullnameOverride: ""
  #   annotations: {}
  #   extraLabels: {}
  #   hosts:
  #     - host: chart-example.local
  #       paths:
  #         - path: /api
  #           serviceName: example-service
  #           servicePort: 8080
  #   tls:
  #      - secretName: chart-example-tls
  #        hosts:
  #          - chart-example.local

# Secrets -- A list Secret to create
Secrets: []
  # - name: example-secret
  #   fullnameOverride: ""
  #   annotations: {}
  #   extraLabels: {}
  #   tplB64Keys:
  #     key1: '{{ print "https://%s:%s@%s" .Values.my.user .Values.my.pass .Values.my.host }}'
  #   b64Keys:
  #     key2: value1
  #   keys:
  #     key3: dmFsdWUyCg==
  # - name: container-registry
  #   type: kubernetes.io/dockerconfigjson
  #   fullnameOverride: ""
  #   annotations: {}
  #   extraLabels: {}
  #   tplB64Keys:
  #     .dockerconfigjson: '{{ printf "{\"auths\": {\"%s\": {\"auth\": \"%s\"}}}" .registry (printf "%s:%s" .username .password | b64enc) }}'

# Services -- A list Service to create
Services: []
  # - name: example-service
  #   fullnameOverride: ""
  #   annotations: {}
  #   extraLabels: {}
  #   type: ClusterIP
  #   selector:
  #     key1: value1
  #   ports:
  #     - port: 80
  #       targetPort: 8080
  #       protocol: TCP
  #   loadBalancerSourceRanges:
  #    - 0.0.0.0/0

# ServiceAccounts -- A list ServiceAccount to create
ServiceAccounts: []
  # - name: example-sa
  #   fullnameOverride: ""
  #   annotations: {}
  #   extraLabels: {}

# HorizontalPodAutoscalers -- A list HorizontalPodAutoscaler to create
HorizontalPodAutoscalers: []
  # - name: example-hpa
  #   fullnameOverride: ""
  #   annotations: {}
  #   extraLabels: {}
  #   minReplicas: 1
  #   maxReplicas: 100
  #   targetCPUUtilizationPercentage: 80
  #   scaleTargetRef:
  #     apiVersion: apps/v1
  #     kind: Deployment
  #     name: my-deployment

# PriorityClasses -- A list PriorityClasses to create
PriorityClasses: []
  # - name: "system-cluster-critical"
  #   value: 1000
  #   description: "Priority for system critical"
  #   globalDefault: false
