CronJobs: []
  - name: example-cronjob
    fullnameOverride: ""
    annotations: {}
    extraLabels:
      app: my-app
    schedule: 00 19 * * *
    containers:
      - name: my-container
        image: ubuntu:bionic
        args:
          - "sh"
          - "-c"
          - "'echo yes'"

ConfigMaps:
  - name: example-cm
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}
    kv_data:
      key: value
    multiline_data:
      key: |
        line 1
        line 2

Ingresses:
  - name: example-ingress
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}
    hosts:
      - host: chart-example.local
        paths:
          - path: /api
            serviceName: example-service
            servicePort: 8080

Secrets:
  - name: example-secret
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}
    b64Keys:
      key1: value1
    keys:
      key2: dmFsdWUyCg==
  - name: example-secret-2
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}
    b64Keys:
      key1: value1
    keys:
      key2: dmFsdWUyCg==

Services:
  - name: example-service
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}
    type: ClusterIP
    selector:
      key1: value1
    ports:
      - port: 80
        targetPort: 8080
        protocol: TCP
  - name: example-service-2
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}
    type: ClusterIP
    selector:
      key2: value2
    ports:
      - port: 443
        targetPort: 443
        protocol: TCP

ServiceAccounts:
  - name: example-sa
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}
  - name: example-sa-2
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}

HorizontalPodAutoscalers:
  - name: example-hpa
    fullnameOverride: ""
    annotations: {}
    extraLabels: {}
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    scaleTargetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: my-deployment
