apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "prometheus-spot-termination-exporter.fullname" . }}
  labels:
{{ include "prometheus-spot-termination-exporter.labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "prometheus-spot-termination-exporter.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
{{ include "prometheus-spot-termination-exporter.labels" . | indent 8 }}
{{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | indent 8 }}
{{- end }}
      annotations:
        prometheus.io/scrape: "{{ .Values.prometheus.scrape }}"
        prometheus.io/port: "{{ .Values.port }}"
        prometheus.io/path: "{{ .Values.prometheus.metricsPath }}"
    spec:
      serviceAccount: {{ include "prometheus-spot-termination-exporter.fullname" . }}
      volumes:
      - name: node-data
        emptyDir: {}
{{- with .Values.initContainers }}
      initContainers:
{{ toYaml . | nindent 6 }}
{{- end }}
      containers:
      - name: spot-termination-exporter
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.imagePullPolicy | quote }}
        args:
          - -bind-addr=:{{ .Values.port }}
          - -metrics-path={{ .Values.prometheus.metricsPath }}
          - -metadata-endpoint={{ .Values.metadataEndpoint }}
          - -log-level={{ .Values.logLevel }}
{{- range $arg := .Values.extraArgs }}
          - {{$arg}}
{{- end }}
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName

        ports:
        - name: http
          containerPort: {{ .Values.port }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        livenessProbe:
          httpGet:
            path: {{ .Values.livenessProbe.httpGet.path }}
            port: {{ .Values.livenessProbe.httpGet.port }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
          failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
        readinessProbe:
          httpGet:
            path: {{ .Values.readinessProbe.httpGet.path }}
            port: {{ .Values.readinessProbe.httpGet.port }}
            httpHeaders: {{ .Values.readinessProbe.httpGet.httpHeaders }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}

{{- with .Values.extraVolumeMounts }}
        volumeMounts:
{{ toYaml . | nindent 8 }}
{{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
