apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mlflow.fullname" . }}
  labels:
    {{- include "mlflow.labels" . | nindent 4 }}
spec:
  {{- if not .Values.mlflow.autoscaling.enabled }}
  replicas: {{ .Values.mlflow.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "mlflow.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "mlflow.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.serviceAccount.create -}}
      serviceAccountName: {{ include "mlflow.fullname" . }}
      {{- end -}}
      securityContext:
        runAsUser: 0
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [
              "mlflow",
              "server",
              "--host", "0.0.0.0",
              "--default-artifact-root", "{{ .Values.mlflow.s3.path }}",
              "--backend-store-uri", "{{ include "mlflow.database.uri" . }}"
          ]
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
            periodSeconds: 3
            successThreshold: 2
            failureThreshold: 6
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 600
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 6
            timeoutSeconds: 5
          resources:
            {{- toYaml .Values.mlflow.resources | nindent 12 }}
      {{- with .Values.mlflow.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.mlflow.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.mlflow.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: {{ include "mlflow.fullname" . }}
          configMap:
            name: {{ include "mlflow.fullname" . }}
