apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cachet.fullname" . }}
  labels:
{{ include "cachet.labels" . | indent 4 }}
{{- if .Values.extraLabels }}
{{ toYaml .Values.extraLabels | indent 4 }}
{{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "cachet.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "cachet.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        {{- if .Values.extraLabels }}
{{ toYaml .Values.extraLabels | indent 8 }}
        {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/v1/ping
              port: http
          readinessProbe:
            httpGet:
              path: /api/v1/ping
              port: http
          envFrom:
            - configMapRef:
                name: {{ include "cachet.fullname" . }}
            - secretRef:
                name: {{ include "cachet.fullname" . }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
