apiVersion: v1
kind: Service
metadata:
  name: {{ include "toxiproxy.fullname" . }}
  labels:
{{ include "toxiproxy.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: admin
      protocol: TCP
      name: admin
{{- range $key, $value := .Values.service.proxies.ports }}    
    - port: {{ $value }}
      targetPort: {{ $value }}
      protocol: TCP
      name:  proxy
{{- end }}
  selector:
    app.kubernetes.io/name: {{ include "toxiproxy.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
