loadtest:
  # loadtest.name -- a name used for resources and settings in this load test
  name: example
  # loadtest.locust_locustfile -- the name of the locustfile
  locust_locustfile: main.py
  # loadtest.locust_locustfile_configmap -- name of a configmap containing your locustfile
  locust_locustfile_configmap: ""
  # loadtest.locust_lib_configmap -- name of a configmap containing your lib
  locust_lib_configmap: ""
  # loadtest.locust_host -- the host you will load test
  locust_host: https://www.google.com
  # loadtest.pip_packages -- a list of extra python pip packages to install
  pip_packages: []
  # loadtest.environment -- environment variables used in the load test
  environment: {}
    # VAR: VALUE

image:
  repository: locustio/locust
  tag: 1.2.3
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  annotations: {}
  extraLabels: {}

master:
  # master.resources -- resources for the locust master
  resources: {}
    # limits:
    #   cpu: 2000m
    #   memory: 1024Mi
    # requests:
    #   cpu: 1000m
    #   memory: 1024Mi

downscale:
  # downscale.enable -- settings to downscale locust pods using a cronjob
  enabled: true
  image: bitnami/kubectl:latest
  hour: 19
  minute: 00

worker:
  replicas: 1
  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 40
  # worker.resources -- resources for the locust worker
  resources: {}
    # limits:
    #   cpu: 500m
    #   memory: 256Mi
    # requests:
    #   cpu: 500m
    #   memory: 256Mi

nameOverride: ""
fullnameOverride: ""
imagePullSecrets: []

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
