env:
  public:
    DB_HOST: cachet-postgresql
    DB_DATABASE: cachet
    DB_USERNAME: cachet

  private:
    APP_KEY: 32_character_string_is_require
    DB_PASSWORD: cachet
    MAIL_USERNAME: _
    MAIL_PASSWORD: _
    MAIL_ADDRESS: _

postgresql:
  fullnameOverride: cachet-postgresql
  global:
    postgresql:
      auth:
        username: cachet
        password: cachet
        database: cachet
  primary:
    persistence:
      enabled: false
