apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "locust.fullname" . }}-master
  labels:
    component: master
{{ include "locust.labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      component: master
      {{- include "locust.selectorLabels" . | nindent 6 }}
  replicas: 1
{{- with .Values.master.strategy }}
  strategy:
{{ toYaml . | trim | indent 4 }}
{{- end }}
  template:
    metadata:
      annotations:
        checksum/config-locust-lib: {{ include (print $.Template.BasePath "/configmap-locust-lib.yaml") . | sha256sum }}
        checksum/config-locust-locustfile: {{ include (print $.Template.BasePath "/configmap-locust-locustfile.yaml") . | sha256sum }}
        checksum/config-config: {{ include (print $.Template.BasePath "/configmap-config.yaml") . | sha256sum }}
        checksum/config-secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        component: master
        {{- include "locust.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ template "locust.fullname" . }}-master
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "{{ if .Values.master.image }}{{ .Values.master.image }}{{ else }}{{ .Values.image.repository }}:{{ .Values.image.tag }}{{ end }}"
{{- with .Values.master.command }}
        command:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- if .Values.master.args }}
        args:
        {{- toYaml .Values.master.args | nindent 8 }}
{{ else if .Values.master.args_include_default }}
        args:
          - --master
          - --locustfile=/mnt/locust/{{ .Values.loadtest.locust_locustfile }}
          - --host={{ .Values.loadtest.locust_host }}
          - --loglevel={{ .Values.master.logLevel }}
{{- end }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
{{ toYaml .Values.master.resources | indent 10 }}
        volumeMounts:
          - name: locustfile
            mountPath: /mnt/locust
          - name: lib
            mountPath: /mnt/locust/lib
          - name: config
            mountPath: /config
{{- if .Values.extraConfigMaps }}
{{- range $key, $value := .Values.extraConfigMaps }}
          - name: {{ $key }}
            mountPath: {{ $value }}
{{- end }}
{{- end}}
        env:
          - name: LOCUST_HOST
            value: "{{ .Values.loadtest.locust_host }}"
{{- range $key, $value := .Values.loadtest.environment }}
          - name: {{ $key }}
            value: {{ $value | quote }}
{{- end }}
{{- range $key, $value := .Values.loadtest.environment_secret }}
          - name: {{ $key }}
            valueFrom:
              secretKeyRef:
                name: {{ template "locust.fullname" $ }}
                key: {{ $key }}
{{- end }}
        ports:
          - containerPort: 8089
            name: loc-master-web
            protocol: TCP
          - containerPort: 5557
            name: loc-master-p1
            protocol: TCP
          - containerPort: 5558
            name: loc-master-p2
            protocol: TCP
        livenessProbe:
          periodSeconds: 30
          initialDelaySeconds: 10
          timeoutSeconds: 30
          failureThreshold: 2
          httpGet:
            path: /
            port: 8089
        readinessProbe:
          initialDelaySeconds: 5
          periodSeconds: 30
          timeoutSeconds: 30
          failureThreshold: 2
          httpGet:
            path: /
            port: 8089
      restartPolicy: Always
      volumes:
        - name: lib
          configMap:
            name: {{ template "locust.lib_configmap_name" . }}
        - name: locustfile
          configMap:
            name: {{ template "locust.locustfile_configmap_name" . }}
        - name: config
          configMap:
            name: {{ template "locust.fullname" . }}-config
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
