kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "prometheus-k8s-events-exporter.fullname" . }}
  labels:
{{ include "prometheus-k8s-events-exporter.labels" . | indent 4 }}
rules:
- apiGroups: [""]
  resources: ["events"]
  verbs: ["get", "list", "watch"]
